<section class="sticky z-1" style="transition:top 0.65s" data-testid="alert-bar">
    <div class="b bg-dark-blue white f5 alert-bar" style="padding:12px 0;background-color:goldenrod">
        <div class="pr3 ph4-m lh-copy flex items-start justify-center">
            <div class="flex flex-auto justify-center flex-none-m ph4 w-100 ml-auto tc">
                <i class="ld ld-Spark mr2 dark-gray mt1" 
                    style="font-size:1rem;vertical-align:-0.175em;width:1rem;height:1rem;box-sizing:content-box"
                    data-testid="hgab-icon"></i>
                <p class="ma0" style="color:#01538b">
                    {{ aviso }}
                    <!-- --> 
                    <a link-identifier="." class="underline normal dark-gray ml2-m f6-m nowrap" aria-label="ㅤ" href="#">.</a>
                </p>
            </div>
        </div>
    </div>
</section>
