<div class="flex flex-wrap w-100 flex-grow-0 flex-shrink-0 ph2 pr0-xl pl4-xl mt0-xl"
    data-testid="item-stack">
    <div class="mb0 ph0-xl pt0-xl bb b--near-white w-25 pb3-m ph1">
        <div class="h-100 pr4-xl pb1-xl pv1 ph1" io-id="00046812261037"
            style="contain-intrinsic-size: 198px 340px;">
            <div role="group" data-item-id="00046812261037"
                data-dca-guid="00046812261037" data-dca-id="00046812261037"
                data-dca-name="ui_product_tile:vertical_index"
                data-dca-type="module"
                class="sans-serif mid-gray relative flex flex-column w-100 hide-child-opacity">
                <a link-identifier="00046812261037"
                    class="w-100 h-100 z-1 hide-sibling-opacity  absolute"
                    target=""
                    href="https://www.walmart.com.mx/wapcrs/track?bt=1&amp;eventST=click&amp;plmt=sp-search-middle~desktop~&amp;pos=1&amp;tax=265356&amp;rdf=1&amp;rd=https%3A%2F%2Fwww.walmart.com.mx%2Fip%2Fllantas-y-rines%2Fpaquete-de-2-llantas-yokohama-geolandar-g91a-225-65r17-100h%2F00046812261037&amp;adUid=c510fad2-e477-43a1-bc71-74c4868a51cc&amp;mloc=sp-search-middle&amp;pltfm=desktop&amp;pgId=llantas&amp;pt=search&amp;spQs=UntLcFqXFWotkWfhAXrjGVNroYO1wd_W-JSNCg5X76--1e_B_PzJOf6UX_BYUpiNrle28Q0o2_KuNwIQ2pkGziFnoKurMvnyc1GiKkQsddf7JV5EPtw7RSPOzr_brwyGbsa-NohfTh1ULhRaymtnjS2jHKa8oNuyzEo4ixOEizny3qn-aHj_0xOt2be_tkUooIp0FNBgvEmHTSDmX-ozuDmIhNzSmvewa-jwABP4bMLDU5etrm24XPMEKO7h6hKd&amp;storeId=0000005468&amp;tn=WMT_MX&amp;wtn=hvgqan&amp;bkt=ace1_default%7Cace2_default%7Cace3_default&amp;/ip/llantas-y-rines/paquete-de-2-llantas-yokohama-geolandar-g91a-225-65r17-100h/00046812261037"><span
                        class="w_q67L">Paquete de 2 llantas
                        YOKOHAMA GEOLANDAR G91A 225/65R17
                        100H
                    </span></a>
                <div class="" data-testid="list-view">
                    <div class="">
                        <div class="">
                            <div class="h2 relative nowrap mb2">
                                <span
                                    class="w_SrYk w_TBvN w_O_Dq tag-leading-badge absolute"
                                    data-testid="tag-leading-badge"
                                    style="color: rgb(155, 20, 25); box-shadow: rgb(155, 20, 25) 0px 0px 0px 1px inset;">Rebaja</span>
                            </div>
                            <div class="relative">
                                <div class="relative overflow-hidden"
                                    style="max-width: 290px; height: 0px; padding-bottom: min(290px, 100%); align-self: center; width: min(290px, 100%);">
                                    <img loading="eager"
                                        src="https://i5.walmartimages.com/asr/f7dc8638-491c-4d3e-8f25-62045ddcc4a7.319116deed97c10a5e4edaf178ad39ef.jpeg?odnHeight=580&amp;odnWidth=580&amp;odnBg=FFFFFF"
                                        id="is-0-productImage-0" width=""
                                        height=""
                                        class="absolute top-0 left-0"
                                        data-testid="productTileImage"
                                        alt="Paquete de 2 llantas YOKOHAMA GEOLANDAR G91A 225/65R17 100H">
                                </div>
                                <div class="z-2 absolute bottom--1">
                                    <div class="relative dib flex-row-reverse"
                                        data-id="00046812261037">
                                        <button
                                            class="w_eEg0 w_OoNT w_4QgR pointer bn sans-serif b ph2 flex items-center justify-center w-auto shadow-1"
                                            type="button"
                                            data-pcss-hide="true"
                                            data-automation-id="add-to-cart"
                                            data-dca-id="cart_add_to_cart:add_to_cart_variant:button_00046812261037"
                                            data-dca-intent="cartAddition"
                                            data-dca-name="add-to-cart-btn"
                                            aria-label="Agregar - Paquete de 2 llantas YOKOHAMA GEOLANDAR G91A 225/65R17 100H"><i
                                                class="ld ld-Plus"
                                                title="agregar"
                                                style="font-size: 1.5rem; vertical-align: -0.25em; width: 1.5rem; height: 1.5rem; box-sizing: content-box;"></i><span
                                                class="mr2">Agregar</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="mt5 mb0"
                                data-testid="variant-00046812261037"
                                style="height: 24px;">
                                <div
                                    class="flex items-center lh-title h2-l normal">
                                    <div class="f7 flex items-center ">
                                        <div>Patrocinado
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div>
                                <div data-automation-id="product-price"
                                    class="flex flex-wrap justify-start items-center lh-title mb1">
                                    <div class="mr1 mr2-xl b black green lh-copy f5 f4-l"
                                        aria-hidden="true">
                                        $4,910.00</div><span
                                        class="w_q67L">precio
                                        actual
                                        $4,910.00</span>
                                    <div class="gray mr1 strike f7 f6-l"
                                        aria-hidden="true">
                                        $7,014.00</div><span
                                        class="w_q67L">Costaba
                                        $7,014.00</span>
                                    <div class="br1 pv1 ph1 dib mr2 bg-washed-green"
                                        style="line-height: 0;">
                                        <span class="b tc green"
                                            style="font-size: 9px; line-height: 9px;">Ahorra
                                            $2,104.00</span>
                                    </div>
                                    <div
                                        class="normal dark-gray lh-title w-100 mt1 f7 f6-l">
                                        Hasta 12 meses sin
                                        intereses</div>
                                </div>
                            </div>
                            <div class="mb1 mt2 b f6 black mr1 lh-copy">
                                Yokohama</div><span class="w_vi_D"
                                style="-webkit-line-clamp: 3; padding-bottom: 0.116187em; margin-bottom: -0.116187em;"><span
                                    data-automation-id="product-title"
                                    class="normal dark-gray mb0 mt1 lh-title f6 f5-l lh-copy">Paquete
                                    de 2 llantas YOKOHAMA
                                    GEOLANDAR G91A 225/65R17
                                    100H</span></span>
                            <div class="flex items-center mt2">
                                <span class="black inline-flex mr1"
                                    data-testid="product-ratings"
                                    data-value="4.8"><i
                                        class="ld ld-StarFill"
                                        aria-hidden="true"
                                        style="font-size: 12px; vertical-align: -0.175em; width: 12px; height: 12px; box-sizing: content-box;"></i><i
                                        class="ld ld-StarFill"
                                        aria-hidden="true"
                                        style="font-size: 12px; vertical-align: -0.175em; width: 12px; height: 12px; box-sizing: content-box;"></i><i
                                        class="ld ld-StarFill"
                                        aria-hidden="true"
                                        style="font-size: 12px; vertical-align: -0.175em; width: 12px; height: 12px; box-sizing: content-box;"></i><i
                                        class="ld ld-StarFill"
                                        aria-hidden="true"
                                        style="font-size: 12px; vertical-align: -0.175em; width: 12px; height: 12px; box-sizing: content-box;"></i><i
                                        class="ld ld-StarFill"
                                        aria-hidden="true"
                                        style="font-size: 12px; vertical-align: -0.175em; width: 12px; height: 12px; box-sizing: content-box;"></i></span><span
                                    class="sans-serif gray f7"
                                    aria-hidden="true"
                                    data-testid="product-reviews"
                                    data-value="10">10</span><span
                                    class="w_q67L">4.8 de 5
                                    estrellas. 10
                                    reseñas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
