{% load static %}
{% for llanta in llantas %}
<div class="col">
      <div class="card h-100" style="background-color: #f5f5f5; border: none;">
        <a href="#" class="stretched-link text-decoration-none text-dark">
          <div class="ratio ratio-1x1">
            <img 
              src="{% static 'core/img/rin/r13.png' %}" 
              class="card-img-top object-fit-contain p-3" 
              alt="llantas {{ llanta.marca }} {{ llanta.modelo }} {{ llanta.ancho }}/{{ llanta.alto }}R{{ llanta.rin }} 100H">
          </div>
        </a>
        <div class="card-body">
          <h6 class="fs-6 fs-md-5 fs-lg-4 fw-bold text-dark mb-2">
            {{ llanta.marca.nombre }}
          </h6>
          <p class="mb-0 text-muted">
            {{ llanta.modelo }} {{ llanta.ancho }}/{{ llanta.alto }}R{{ llanta.rin }} 100H
          </p>
        </div>
      </div>
    </div>
{% endfor %}