{% extends "core/adminis/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
{% if modifica_usuario_perm %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Usuario       <strong>{{ usuario }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST" class="row g-3">
                        {% csrf_token %}
                        <div class="col-12">
                            <div class="d-flex justify-content-start mb-3">
                                <a href="{% url 'usuarios' %}" class="btn btn-secondary">Regresar</a>
                                <button type="submit" class="btn btn-success ms-3">Guarda</button>
                            </div>
                            <div class="row d-flex justify-content-around text-center">
                                <h4 style="color: rgb(11, 125, 231);">{{accion}}</h4>
                            </div>
                        </div>
                        <div class="col-4">
                            {{ form.first_name.label }}
                            {{ form.first_name }}
                        </div>
                        <div class="col-4">
                            {{ form.last_name.label }}
                            {{ form.last_name }}
                        </div>
                        <div class="col-4">
                            {{ form.materno.label }}
                            {{ form.materno }}
                        </div>
                        <div class="col-12 row">
                            <div class="col-4">
                                {{ form.celular.label }}
                                {{ form.celular }}
                            </div>
                            <div class="col-4 row justify-content-center align-items-center">
                                <div class="col-12 row" style="padding: 0;">
                                    <div class="col-3 text-center">
                                        Activo
                                        <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                                            {{ form.is_active }}
                                        </div>
                                    </div>
                                    <div class="col-3 text-center" >
                                        Staff
                                        <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                                            {{ form.is_staff }}
                                        </div>
                                    </div>
                                    <div class="col-3 text-center" >
                                        Cliente
                                        <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                                            {{ form.is_cliente }}
                                        </div>
                                    </div>
                                    <div class="col-3 text-center" >
                                        Taller
                                        <div class="col-12" style="margin-left: 7px; margin-top: 5px;">
                                            {{ form.is_taller }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                {{ form.empresa.label }}
                                {{ form.empresa }}
                            </div>
                        </div>
                        <div class="col-4">
                            {{ form.email.label }}
                            {{ form.email }}
                        </div>
                        <div class="col-4">
                            {{form.password.label }}
                            {{form.password }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#id_is_active").addClass('checkbox-large');
    $("#id_is_cliente").addClass('checkbox-large');
    $("#id_is_taller").addClass('checkbox-large');
    $("#id_is_staff").addClass('checkbox-large');
</script>
<script>
    $(document).ready(function () {
        // Solo se puede seleccionar un checkbox de los 3
        $('#id_is_staff, #id_is_cliente, #id_is_taller').on('change', function () {
            if ($(this).is(':checked')) {
                $('#id_is_staff, #id_is_cliente, #id_is_taller').not(this).prop('checked', false);
            }
            $('#id_empresa').val('');
        });

        function toggleTallerField() {
            if ( !$('#id_is_taller').is(':checked')) {
                $('#id_empresa').val('');  // Establece el valor del combobox a null
            }
        }

        // Ejecutar al cargar la página
        toggleTallerField();

        // Ejecutar cuando cambie el checkbox
        $('#id_is_taller').change(function () {
            toggleTallerField();
        });

        // Al seleccionar algo en el combobox, activa el checkbox
        $('#id_empresa').change(function () {
            if ($(this).val()) {
                $('#id_is_taller').prop('checked', true);
                $('#id_is_staff').prop('checked', false);
                $('#id_is_cliente').prop('checked', false);
            } else {
                $('#id_is_taller').prop('checked', false);
            }
        });
    });
</script>
{% endif %}
{% endif %}
{% endblock %}