{% extends 'core/adminis/base.html' %}
{% load static %}

{% block content %}
<div id="__next">
  <div class="d-flex flex-column shadow-sm" style="transition: transform 0.2s;">
    <main id="maincontent" class="container-fluid">
      
      <!-- Sección de Administración -->
      <section class="container">
        <div class="row mb-3">
          <div class="col-12">
            <h2 class="h5 text-muted">Administración</h2>
          </div>
        </div>

      </section>

    </main>
  </div>
</div>
{% endblock %}